@css-prefix: 'yi-';

// Color
@primary-color: #2d8cf0;
@link-color: #2D8cF0;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);

// Base
@body-background: #fff;
@title-color: #17233d;
@font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family: Consolas,Menlo,Courier,monospace;
@font-size-base: 14px;
@font-size-small: 12px;
@text-color: #515a6e;
@line-height-base: 1.5;
@border-radius-base: 6px;
@border-radius-small: 4px;
@cursor-disabled: not-allowed;

// Border color
@border-color-base: #dcdee2; // outside
@border-color-split: #e8eaec;  // inside

// shadow
@shadow-color: rgba(0,0,0,.2);
@shadow-card: 0 1px 1px 0 rgba(0,0,0,.1);
@shadow-base: @shadow-down;
@shadow-up: 0 -1px 6px @shadow-color;
@shadow-down: 0 1px 6px @shadow-color;

// Animation
@transition-time: .2s;
@ease-in-out: ease-in-out;
